@import '../../index.scss';

.list {
	&__title {
		font-size: $size-regular-desktop;
		font-weight: $weight-regular;
		color: $fourth-color;
		padding: 1rem 0;
	}
	&__grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
		gap: 1rem;
	}
}
