@import '../../index.scss';

.loadingState {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 5rem;

	i {
		opacity: 0.8;
		font-size: 5rem;
		animation: spin 1s linear infinite;
		color: $third-color;
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}
