@import '../../index.scss';

@mixin basics-styles {
	min-height: 40vh;
}

.main {
	@include basics-styles;
	width: 100%;
	background-color: rgb(8, 8, 8);
	@media (min-width: $desktop-breakpoint) {
		@include flex-justify-between;
	}

	&__infos {
		background: url('https://wallpapers.com/images/hd/black-and-white-book-1600-x-1000-wallpaper-hm8hjvm5k169uadk.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		text-align: center;
		height: 150px;
		@include flex-items-center;
		@media (min-width: $desktop-breakpoint) {
			clip-path: circle(67.5% at 32% 50%);
			width: 45%;
			height: auto;
		}
		&-text {
			font-size: $size-xs;
			font-weight: $weight-semibold;
			font-style: italic;
			@media (min-width: $desktop-breakpoint) {
				font-size: $size-small;
				font-weight: $weight-regular;

				width: 70%;
				padding-left: 4.2rem;
			}
		}
	}

	&__form {
		width: 90%;
		margin: 0 auto;

		@media (min-width: $desktop-breakpoint) {
			width: 55%;
			padding-right: 2rem;
		}
		h4 {
			text-align: center;
			font-size: $size-regular;
			font-weight: $weight-regular;
			color: rgb(217, 161, 40);
			margin: 1.5rem 0;
			@media (min-width: $desktop-breakpoint) {
				text-align: center;
				font-size: $size-medium;
				font-weight: $weight-regular;
				color: rgb(217, 161, 40);
				margin: 2.5rem 0;
			}
		}
		div {
			@include flex;
			justify-content: center;
		}
		&-input {
			width: 100%;
			max-width: 600px;
			min-height: 50px;
			border: none;
			outline: none;
			transition: 0.2s ease-in-out;
			padding-left: 0.5rem;
			font-size: $size-small;
			border-right: none;
			border-top-left-radius: 8px;
			border-bottom-left-radius: 8px;
			@media (min-width: $desktop-breakpoint) {
				padding-left: 1rem;
			}
		}
		&-input:focus {
			outline: none;
		}

		&-input::placeholder {
			font-size: $size-xs;
			color: $third-color;
			@media (min-width: $desktop-breakpoint) {
				padding-left: 0.3rem;
				font-size: $size-small;
			}
		}
		&-btn {
			min-height: 50px;
			background-color: $base-color;
			border: none;
			border-left: none;
			border-top-right-radius: 8px;
			border-bottom-right-radius: 8px;
			padding: 0.2rem 0.7rem 0 0.7rem;
			cursor: pointer;
			transition: 0.2s ease-in-out;
		}
	}
}
