@import '../../index.scss';

@mixin basics-styles {
	min-height: 40vh;
	background-color: $secondary-color;
}

.main {
	@include basics-styles;
	@include flex-col-items-center;
	&__title {
		font-size: $size-medium;
		font-weight: $weight-semibold;
		padding-top: 3rem;
		background: linear-gradient(
			to right,
			$base-color,
			rgba(228, 228, 232, 0.759)
		);
		background-clip: text;
		color: transparent;
		@media (min-width: $desktop-breakpoint) {
			font-size: $size-xl;
		}
	}
	&__form {
		@include flex;
		justify-content: center;
		width: 90%;
		margin-top: 3rem;
		@media (min-width: $desktop-breakpoint) {
			width: 100%;
		}
		&-input {
			width: 100%;
			max-width: 600px;
			min-height: 50px;
			border: none;
			outline: none;
			border-top-left-radius: 8px;
			border-bottom-left-radius: 8px;
			transition: 0.2s ease-in-out;
			padding-left: 1rem;
			font-size: $size-small;
		}
		&-input:focus {
			outline: none;
		}

		&-input::placeholder {
			font-size: $size-xs;
			color: $third-color;
			@media (min-width: $desktop-breakpoint) {
				padding-left: 0.3rem;
				font-size: $size-small;
			}
		}
		&-btn {
			min-height: 50px;
			background-color: $base-color;
			border: none;
			border-top-right-radius: 8px;
			border-bottom-right-radius: 8px;
			padding: 0.2rem 0.7rem 0 0.7rem;
			cursor: pointer;
			transition: 0.2s ease-in-out;
		}
	}
}
