@import '../../index.scss';

.header {
	background-color: #3c7057;
	border-bottom: 2px solid $third-color;

	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	&__title {
		font-size: $size-medium-desktop;
		font-weight: 300;
		text-align: center;
		background: linear-gradient(
			to right,
			$base-color,
			rgba(228, 228, 232, 0.759)
		);
		background-clip: text;
		color: transparent;
		@media (min-width: $desktop-breakpoint) {
			font-size: $size-xl-desktop;
		}
	}
}
