/*** START RESET ***/

*,
html {
	font-family: 'Poppins', sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html:focus-within {
	scroll-behavior: smooth;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
li {
	list-style-type: none;
}
img,
picture,
svg,
video,
canvas {
	max-width: 100%;
	height: auto;
	display: block;
}

input,
button,
textarea,
select {
	font: inherit;
}
/**** END RESET *******/

/*** Colors ***/

$base-color: #fff;
$secondary-color: #4d69b5;
$third-color: black;

/** Font sizes **/

$size-xs: 1.1rem;
$size-small: 1.25rem; /** 20px **/
$size-regular: 1.5rem; /** 24px **/
$size-medium: 2.25rem; /** 36px **/
$size-xl: 3rem; /** 48px **/

/** Font weights **/

$weight-light: 300;
$weight-regular: 400;
$weight-semibold: 500;

$desktop-breakpoint: 750px;

body {
	color: $base-color;
}

@mixin flex {
	display: flex;
}

@mixin flex-col {
	@include flex;
	flex-direction: column;
}

@mixin flex-col-items-center {
	@include flex-col();
	align-items: center;
}
